<div class="white-popup mfp-hide">
    <md-dialog aria-label="options dialog" class="content_poup width_common">
        <md-dialog-content layout-padding>
            <h2 class="md-title">Choose an option</h2>
            <md-select ng-model="myModel" placeholder="Pick">
                <md-option>1</md-option>
                <md-option>2</md-option>
                <md-option>3</md-option>
            </md-select>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button ng-click="close()">Okay!</md-button>
        </md-dialog-actions>
    </md-dialog>
</div>