
@{
    ViewBag.Title = "ProductCatelogy";
}
<div class="cms_nav">
    <div class="container">
        @Html.Action("_HeaderPage", "Home")
    </div>
</div>
<div class="container">
    <div class="manage_order mt20">
        <h1>Manage Category</h1>


        <div class="tr tr3">
            <div class="mb20 cms_col_left">
                @*<ul>
                        <li><a class="active" href="#">Manage Shipments</a></li>
                        <li><a href="#">Manage Order</a></li>
                        <li><a href="#">Tracking</a></li>
                        <li><a href="#">Category Codes</a></li>
                        <li><a href="#">Employee Accounts</a></li>
                        <li><a href="#">Store Accounts</a></li>
                        <li><a href="#">Reports</a></li>
                    </ul>*@
            </div>
            <div class="table_cms mb20 cms_col_right">
                <div class="tr tr1 mb10 right">
                    @using (Ajax.BeginForm("AJXSearch", "Catelogy", new AjaxOptions
                    {
                        HttpMethod = "POST", 
                        UpdateTargetId = "divSearchResult"
                    }, new { @id= "search" }))
                    {
                        <input type="text" class="input_search" name="txtkeyword" value="" placeholder="Tìm kiếm">
                        <button type="submit" class="icon_seach_web"><i class="fa fa-search"></i></button>
                    }
                </div>
                <div id="divSearchResult"> 
                    @Html.Action("_CatelogyGrid")
                </div>
             

            </div>

            <div id="divUpdate" class="mb20 cms_col_300">

                @Html.Partial("_CatelogyDetailForm")

            </div>

        </div>

    </div>
</div>

@section Scripts {
    <script src="~/scripts/object-prototype/category.js"></script>

    <script>
        Catelogy.ValidateInsertForm();
        function OnSuccess(avg) {
            alert(avg.Message);
        }
        function ReloadValidate() {
            Catelogy.ValidateInsertForm();
        }
    </script>
}