
@{
    ViewBag.Title = "Manager";
}

<div class="cms_nav">
    @{
        System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("en-GB");
        <div class="right">@DateTime.Now.ToString("MMM-dd-yyyy", culture)</div>
    }
</div>
<div class="container">
    <div class="manage_order mt20">
        <h1>Manage Warehouse</h1>
        <div class="tr tr1 mb10">
            @using (Ajax.BeginForm("AJXSearchWarehouse", "WareHouse", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "grid-warehouse",

            }, new { }))
            {
                <div id="search" class="mb20">
                    <input type="text" class="input_search" name="SearchKeyword" value="" placeholder="Search">
                    <button type="submit" class="icon_seach_web"><i class="fa fa-search"></i></button>
                </div>

                <div class="form-group">
                    <select name="SearchType" class="form-control">
                        <option value="1">ID</option>
                        <option value="2">Full Name</option>
                        <option value="3">Warehouse's Name</option>
                    </select>
                </div>
            }
        </div>

        <div class="tr tr2">
            <div id="grid-warehouse" class="table_cms mb30">
                @Html.Action("_GridWarehouse", new { model = Model, pageIndex = ViewBag.Index })
            </div>
        </div>

    </div>
</div>
