<appSettings >
  <add key="PageSize" value="10" />
  <add key="conn" value="{'Environment':'Prod','Dev':{'Database':{'ConnectionString':'Data Source=103.1.210.65; Initial Catalog=UsTransport; uid=cuonglv;pwd=1234Abcd','Metadata':'res://*/Models.DBContext.UsTransport.UsTransport.csdl|res://*/Models.DBContext.UsTransport.UsTransport.ssdl|res://*/Models.DBContext.UsTransport.UsTransport.msl'},'Kerry':{'ApiUri':'http://gw.kerryexpress.com.vn/api/WS001PostNewOrderInfor','Token':'OPxwpQe9IogBmqpCteo7Sw=='}},'Prod':{'Database':{'ConnectionString':'Data Source=125.212.217.182; Initial Catalog=UsTransport; uid=GHHDev;pwd=dev123123321','Metadata':'res://*/Models.DBContext.UsTransport.UsTransport.csdl|res://*/Models.DBContext.UsTransport.UsTransport.ssdl|res://*/Models.DBContext.UsTransport.UsTransport.msl'},'Kerry':{'ApiUri':'http://gw.kerryexpress.com.vn/api/WS001PostNewOrderInfor','Token':'OpuA90w4ZHcW3ZfVYZbO3g=='}}}"/>
  <add key="API_URL" value="http://apies.usexpress.vn/" />
  <add key="API_URL_MAIL" value="http://api-usexpress.tinchat.net/" />
  <add key="API_USER_MAIL" value="usexpress" />
  <add key="API_PASS_MAIL" value="123123" />
  <add key="API_USER" value="logs" />
  <add key="API_PASS" value="fBpj98KpyRkncMZehkV6NCLMSTxF9U" />
</appSettings>